<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Navegação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button (click)="comPush()">
    Router com Push
  </ion-button>
  <br>
  <ion-button (click)="comPush2()">
    NavController com Push
  </ion-button>
  <br>
  <ion-button (click)="semPilha()">
    NavController sem Pilha de navegação.
  </ion-button>
  <ion-input type="text" placeholder="Algum dado aqui" [(ngModel)]='valor'></ion-input>

</ion-content>