<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Images e Avatar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>ion-avatar</p>
  <ion-avatar>
    <img src="https://scontent.ffor7-1.fna.fbcdn.net/v/t1.0-9/44939497_1909736932478993_3230148794838417408_n.jpg?_nc_cat=109&_nc_ht=scontent.ffor7-1.fna&oh=18994ee718c334bb4411ee3aa11ac2ed&oe=5CF8B80A">
  </ion-avatar>

  <p>ion-chip</p>
  <ion-chip>
    <ion-avatar>
      <img src="https://scontent.ffor7-1.fna.fbcdn.net/v/t1.0-9/44939497_1909736932478993_3230148794838417408_n.jpg?_nc_cat=109&_nc_ht=scontent.ffor7-1.fna&oh=18994ee718c334bb4411ee3aa11ac2ed&oe=5CF8B80A">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <p>ion-item + ion-avatar</p>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.ffor7-1.fna.fbcdn.net/v/t1.0-9/44939497_1909736932478993_3230148794838417408_n.jpg?_nc_cat=109&_nc_ht=scontent.ffor7-1.fna&oh=18994ee718c334bb4411ee3aa11ac2ed&oe=5CF8B80A">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

  <p>ion-list + ion-thumbnail</p>
  <ion-list>
    <ion-item>
      <ion-thumbnail>
        <ion-img src='../assets/images/thunbnail1.jpg'></ion-img>
      </ion-thumbnail>
      <ion-label>Alex x Ken</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <ion-img src='../assets/images/thunbnail2.jpg'></ion-img>
      </ion-thumbnail>
      <ion-label>Birdie x Vega</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <ion-img src='../assets/images/thunbnail3.jpg'></ion-img>
      </ion-thumbnail>
      <ion-label>Kolin</ion-label>
    </ion-item>
  </ion-list>




</ion-content>