<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Select
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>Seleção simples</ion-list-header>
    <ion-item>
      <ion-label>Gênero</ion-label>
      <ion-select placeholder="Selecione um">
        <ion-select-option value="f">Feminino</ion-select-option>
        <ion-select-option value="m">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cor do cabelo</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancelar">
        <ion-select-option value="brown">Marrom</ion-select-option>
        <ion-select-option value="blonde">Loiro</ion-select-option>
        <ion-select-option value="black">Preto</ion-select-option>
        <ion-select-option value="red">Vermelho</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Seleção Múltipla</ion-list-header>
    <ion-item>
      <ion-label>Coberturas</ion-label>
      <ion-select multiple="true" cancelText="Não quero" okText="Oba!">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Animais de estimação</ion-label>
      <ion-select multiple="true">
        <ion-select-option value="bird" selected>Pássaro</ion-select-option>
        <ion-select-option value="cat">Gato</ion-select-option>
        <ion-select-option value="dog" selected>Cachorro</ion-select-option>
        <ion-select-option value="honeybadger">Texugo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Interface Options</ion-list-header>
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Selecione um">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Popover</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione um">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Action Sheet</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Selecione um">
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="purple">Purple</ion-select-option>
        <ion-select-option value="yellow">Yellow</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
        <ion-select-option value="green">Green</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>