<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)='abreAlert()'>Abrir alert</ion-button>
  <ion-button (click)='abreAlert2()' color='secondary'>Alert botões com ação</ion-button>
  <ion-button (click)='abreAlert3()' color='danger'>Alert com Inputs</ion-button>
  <ion-button (click)='abreAlert4()' color='light'>Alert com Radios</ion-button>
  <ion-button (click)='abreAlert5()' color='dark'>Alert com Checkbox</ion-button>

</ion-content>