<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center class='animated bounceInLeft'>
    <h4>Principais funções do Ionic 4</h4>
    <ion-img style="margin-top:50px" src='../assets/images/ionic-logo.png'></ion-img>
  </div>
  <ion-card padding class="animated bounceInRight">
    <ion-avatar>
      <ion-img src="https://scontent.ffor7-1.fna.fbcdn.net/v/t1.0-9/44939497_1909736932478993_3230148794838417408_n.jpg?_nc_cat=109&_nc_ht=scontent.ffor7-1.fna&oh=18994ee718c334bb4411ee3aa11ac2ed&oe=5CF8B80A"></ion-img>
    </ion-avatar>
    <p>Criado por: Anderson Rocha</p>
    <p>Programador PHP + Ionic Full Stack.</p>
    <p>Link pro <a target='_blank' href='https://www.linkedin.com/in/anderson-rocha/'>Linkedin.</a></p>
  </ion-card>
</ion-content>